body {
	font-family: 'Lexend Mega';
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.header h1 {
	font-size: 44px;
	font-weight: 700;
}
.navbar p a {
	font-size: 22px;
	font-weight: 400;
	color: black;
}
.navbar {
	display: flex;
	justify-content: space-around;
	width: 80%;
}
